<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/inc_header :: admin-grid">

<!-- start: Meta -->
<meta charset="utf-8" />
<title>Bootstrap Metro Dashboard by TOP demo</title>
<meta name="description" content="Bootstrap Metro Dashboard" />
<meta name="author" content="Topkung" />
<meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" />
<!-- end: Meta -->

<!-- start: Mobile Specific -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- end: Mobile Specific -->

</head>

<body class="kstyle">
	<div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
             <div class="navbar-header">
                    <a class="navbar-brand" href="index.html"><img th:src="@{/resources/img/logo.jpg}"/></a>
                </div>
                <!-- /.navbar-header -->

                <div class="nav navbar-top-links navbar-left col-xs-6">
                    <div class="row">
                        <div class="col-xs-12">Welcome back Mr. Lead Dashboard</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">Last login 15:25 | 17 Apr 2015</div>
                    </div>
                </div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                            </li>
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
                <!-- /.navbar-top-links -->

            <div th:replace="fragments/fr_navigation :: left-nav(${menu})"></div>
            <!-- /.navbar-static-side -->
        </nav>

		<div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header text-right">Dashboard #1</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3 style="margin-top: 0">Grid layout : <input type="text" value="0" name="grid_id" id="grid_id"/></h3>
                                <p>Add items and widgets here.</p>
                                <a class="btn btn-primary add-grid-item" href="#"><i class="fa fa-plus fa-fw"></i> Add item</a>
                                <a class="btn btn-success save-grid-item" id="save-grid2" href="#"><i class="fa fa-save fa-fw"></i> Save</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->

                <!-- Panel Template for GRID -->
                <div class="hidden panel-template">
                    <div class="panel panel-default grid-stack-item-content">
                        <div class="panel-heading">
                            <i class="titleicon fa fa-fw"></i> <span class="title">Title</span>
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-wrench fa-fw"></i>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" style="cursor: default">
                                        <li><a href="#" class="editgriditem"><i class="fa fa-edit fa-fw"></i> Edit this item</a></li>
                                        <li><a href="#" class="editwgs"><i class="fa fa-edit fa-fw"></i> Widgets Editor</a></li>
                                        <!-- <li><a href="#">.....</a></li> -->
                                        <li class="divider"></li>
                                        <li><a href="#" class="text-danger remove-me"><i class="fa fa-times fa-fw"></i> Delete this item</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <!--<div class="row">-->
                            <div class="widget-wrapper">
                                <div class="widget-box">
                                    Content
                                </div>
                            </div>
                            <!--</div>-->
                        </div>
                        <div class="panel-footer"></div>
                    </div>
                </div>
                <!-- /END Panel Template for GRID -->

                <!-- Modal Adding item -->
                <div class="hidden modal fade" id="addGridItem" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Add Grid item</h4>
                            </div>
                            <div class="GridItem modal-body">
                                <form name="formaddgriditem" id="formaddgriditem" method="post" action="">
                                    <label>Configuration for Grid item.</label>
                                    <div class="form-group input-group">
                                        <div class="input-group-addon">
                                            <div style="width: 90px;">Title</div>
                                        </div>
                                        <input name="title" type="text" class="form-control"/>
                                    </div>
                                    <div class="form-group input-group">
                                        <div class="input-group-addon">
                                            <div style="width: 90px;">Icon</div>
                                        </div>
                                        <input name="header_icon" type="text" class="form-control"/>
                                    </div>
                                    <div class="well">
                                        <button type="button" class="btn btn-outline btn-primary btn-md btn-block editwidget">Open Widgets Editor</button>
                                    </div>
                                    <label>Sizing</label>
                                    <div class="form-group input-group">
                                        <div class="input-group-addon">
                                            <div style="width: 90px;">Width</div>
                                        </div>
                                        <input name="width" type="text" class="form-control" value="2"/>
                                        <div class="input-group-addon" style="border-left: none;">
                                            <div style="width: 90px;">Height</div>
                                        </div>
                                        <input name="height" type="text" class="form-control" value="2" style="border-left: none;"/>
                                    </div>
                                    <div class="form-group input-group">
                                        <div class="input-group-addon">
                                            <div style="width: 90px;"><b>Max</b> Width</div>
                                        </div>
                                        <input name="max_width" type="text" class="form-control"/>
                                        <div class="input-group-addon" style="border-left: none;">
                                            <div style="width: 90px;"><b>Max</b> Height</div>
                                        </div>
                                        <input name="max_height" type="text" class="form-control" style="border-left: none;"/>
                                    </div>
                                    <div class="form-group input-group">
                                        <div class="input-group-addon">
                                            <div style="width: 90px;"><b>Min</b> Width</div>
                                        </div>
                                        <input name="min_width" type="text" class="form-control" value="2"/>
                                        <div class="input-group-addon" style="border-left: none;">
                                            <div style="width: 90px;"><b>Min</b> Height</div>
                                        </div>
                                        <input name="min_height" type="text" class="form-control" value="2" style="border-left: none;"/>
                                    </div>

                                    <label>Options</label>
                                    <div class="form-group input-group">
                                        <div class="input-group-addon">
                                            <div style="width: 90px;">Widget Align</div>
                                        </div>
                                        <select name="widget_alignment" class="form-control">
                                            <option value="V" selected="selected">Vertical</option>
                                            <option value="H">Horizontal</option>
                                        </select>
                                    </div>
                                    <div class="form-group input-group">
                                        <div class="input-group-addon">
                                            <div style="width: 90px;">Movable</div>
                                        </div>
                                        <span class="form-control"><input type="checkbox" name="no_move" value="0" style="margin-top: 4px;" checked="checked"/></span>
                                        <div class="input-group-addon" style="border-left: none;">
                                            <div style="width: 90px;">Resizable</div>
                                        </div>
                                        <span class="form-control" style="border-left: none;"><input type="checkbox" name="no_resize" value="0" style="margin-top: 4px;" checked="checked"/></span>
                                    </div>
                                </form>
                            </div>

                            <!-- for Widget Editor -->
                            <div class="widgeteditor modal-body">

                                <label>Manage widgets for grid item.</label>
                                <div class="well well-sm">
                                    <button type="button" class="btn btn-default addwidget">Add widget</button>
                                </div>
                                <div class="">
                                    <table class="widget-list table table-hover">
                                        <thead>
                                            <tr>
                                                <td>Seq</td>
                                                <td>Title</td>
                                                <td>Type</td>
                                                <td>Action</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!--<tr data-id="0" data-seq="1" data-type="1" data-title="% Blah blah blah">
                                                <td class="sequence">1</td>
                                                <td>% Blah blah blah</td>
                                                <td>Solid Gauge</td>
                                                <td>
                                                    <button type="button" class="btn btn-sm btn-default"><i class="fa fa-edit"></i></button>
                                                    <button type="button" class="btn btn-sm btn-danger btn-delete-widget"><i class="fa fa-times"></i></button>
                                                </td>
                                            </tr>
                                            <tr data-id="0" data-seq="2" data-type="1" data-title="% Hello World">
                                                <td class="sequence">2</td>
                                                <td>% Hello World</td>
                                                <td>Solid Gauge</td>
                                                <td>
                                                    <button type="button" class="btn btn-sm btn-default"><i class="fa fa-edit"></i></button>
                                                    <button type="button" class="btn btn-sm btn-danger btn-delete-widget"><i class="fa fa-times"></i></button>
                                                </td>
                                            </tr>-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- for Widget Editor / Add widget -->
                            <div class="widgetitemedit modal-body">
                                <form name="formaddwidgetitem" id="formaddwidgetitem" method="post" action="">
                                    <label>Widget properties</label>
                                    <div class="form-group input-group">
                                        <div class="input-group-addon">
                                            <div style="width: 90px;">Title</div>
                                        </div>
                                        <input name="title" type="text" class="form-control"/>
                                    </div>
                                    <div class="form-group input-group">
                                        <div class="input-group-addon">
                                            <div style="width: 90px;">Widget Type</div>
                                        </div>
									<select name="type_id" class="form-control">
										<option value="1">Solid Gauge</option>
										<option value="2">Bar Chart</option>
										<option value="3">Single Statistics Box</option>
										<option value="4">Stacked Bar</option>
										<option value="5">Text and Box</option>
										<option value="6">Circle Chart</option>
										<option value="7">Basic Line Chart</option>
										<option value="8">Box</option>
										<option value="9">Lane</option>
										<option value="10">Team Performance</option>

									</select>
								</div>
                                    <div class="form-group input-group">
                                        <div class="input-group-addon">
                                            <div style="width: 90px;">Y-Axis Title</div>
                                        </div>
                                        <input name="yaxis_title" type="text" class="form-control"/>
                                    </div>
                                    <div class="form-group input-group">
                                        <div class="input-group-addon">
                                            <div style="width: 90px;">Y-Axis Min</div>
                                        </div>
                                        <input name="yaxis_min" type="text" class="form-control"/>
                                    </div>
                                    <div class="form-group input-group">
                                        <div class="input-group-addon">
                                            <div style="width: 90px;">Y-Axis Max</div>
                                        </div>
                                        <input name="yaxis_max" type="text" class="form-control"/>
                                    </div>
                                    <div class="form-group input-group">
                                        <div class="input-group-addon">
                                            <div style="width: 90px;">Data Suffix</div>
                                        </div>
                                        <input name="data_suffix" type="text" class="form-control"/>
                                    </div>
                                    <div class="form-group input-group">
                                        <div class="input-group-addon">
                                            <div style="width: 90px;">Tooltip Suffix</div>
                                        </div>
                                        <input name="tooltip_suffix" type="text" class="form-control"/>
                                    </div>
                                    <div class="form-group input-group">
                                        <div class="input-group-addon">
                                            <div style="width: 90px;">Height</div>
                                        </div>
                                        <input name="height" type="text" class="form-control"/>
                                    </div>
                                    <div class="form-group input-group">
                                        <div class="input-group-addon">
                                            <div style="width: 90px;">CSS Class</div>
                                        </div>
                                        <input name="css_class" type="text" class="form-control"/>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times fa-fw"></i> Cancel</button>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-save fa-fw"></i> Save</button>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- END Modal Adding item -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body" style="padding: 10px 0px;">
                                <div class="grid-stack"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->

            </div>
			<!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
	
		
	<script th:inline="javascript">
		//<![CDATA[
		var jsonGrid = /*[[${grid}]]*/{};
		//]]>
	</script>
	<script th:replace="admin/inc_home_js :: grid-js"></script>
	<script th:replace="admin/inc_home_js :: refresh-cache-js"></script>
</body>

</html>