BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; SCROLLBAR-FACE-COLOR: #d3d3d3; PADDING-BOTTOM: 0px; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #cccccc; SCROLLBAR-SHADOW-COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #000099; PADDING-TOP: 0px; SCROLLBAR-TRACK-COLOR: #e6e6e6; SCROLLBAR-DARKSHADOW-COLOR: #cccccc; BACKGROUND-COLOR: #ffffff
}
A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; VERTICAL-ALIGN: baseline; CURSOR: hand; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; VERTICAL-ALIGN: baseline; CURSOR: hand; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; TEXT-DECORATION: none
}
A:active {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; VERTICAL-ALIGN: baseline; CURSOR: hand; COLOR: #9999ff; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; VERTICAL-ALIGN: baseline; CURSOR: hand; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; TEXT-DECORATION: none
}
A {
	TEXT-DECORATION: none
}
.textbox {
	BORDER-RIGHT: #888888 1px solid; BORDER-TOP: #888888 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9px; VERTICAL-ALIGN: middle; BORDER-LEFT: #888888 1px solid; COLOR: #000000; BORDER-BOTTOM: #888888 1px solid; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.textboxCurrency {
	BORDER-RIGHT: #999999 1px ridge; BORDER-TOP: #999999 1px ridge; FONT-WEIGHT: normal; FONT-SIZE: 9px; VERTICAL-ALIGN: middle; BORDER-LEFT: #999999 1px ridge; COLOR: #000000; BORDER-BOTTOM: #999999 1px ridge; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif ","Microsoft Sans Serif"; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: right
}
.TextAreaBox {
	BORDER-RIGHT: #888888 1px solid; BORDER-TOP: #888888 1px solid; SCROLLBAR-FACE-COLOR: #cccccc; FONT-WEIGHT: normal; FONT-SIZE: 9px; SCROLLBAR-HIGHLIGHT-COLOR: #cccccc; VERTICAL-ALIGN: middle; BORDER-LEFT: #888888 1px solid; WIDTH: auto; SCROLLBAR-SHADOW-COLOR: #ffffff; COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #ffffff; BORDER-BOTTOM: #888888 1px solid; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; SCROLLBAR-DARKSHADOW-COLOR: #999999; HEIGHT: auto; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.ComboBox {
	BORDER-RIGHT: #888888 0px solid; BORDER-TOP: #888888 0px solid; FONT-WEIGHT: normal; FONT-SIZE: 9px; VERTICAL-ALIGN: middle; BORDER-LEFT: #888888 0px solid; COLOR: #000000; LINE-HEIGHT: normal; BORDER-BOTTOM: #888888 0px solid; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.ComboBox2 {
	BORDER-RIGHT: #888888 0px solid; BORDER-TOP: #888888 0px solid; FONT-WEIGHT: normal; FONT-SIZE: 9px; VERTICAL-ALIGN: middle; BORDER-LEFT: #888888 0px solid; WIDTH: 150px; COLOR: #000000; LINE-HEIGHT: normal; BORDER-BOTTOM: #888888 0px solid; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.RadioButton {
	
}
.CheckBox {
	
}
.textboxWarning {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: normal; FONT-SIZE: 9px; VERTICAL-ALIGN: middle; BORDER-LEFT: medium none; COLOR: #ff0000; BORDER-BOTTOM: medium none; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.textAreaYellow {
	BORDER-RIGHT: #999999 1px ridge; BORDER-TOP: #999999 1px ridge; SCROLLBAR-FACE-COLOR: #cccccc; FONT-WEIGHT: normal; FONT-SIZE: 9px; SCROLLBAR-HIGHLIGHT-COLOR: #cccccc; VERTICAL-ALIGN: middle; BORDER-LEFT: #999999 1px ridge; SCROLLBAR-SHADOW-COLOR: #ffffff; COLOR: #003399; SCROLLBAR-3DLIGHT-COLOR: #ffffff; BORDER-BOTTOM: #999999 1px ridge; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif ","Microsoft Sans Serif"; SCROLLBAR-DARKSHADOW-COLOR: #999999; BACKGROUND-COLOR: #ff9900; TEXT-ALIGN: left
}
.ComboBoxYellow {
	BORDER-RIGHT: #888888 0px solid; BORDER-TOP: #888888 0px solid; FONT-WEIGHT: normal; FONT-SIZE: 9px; VERTICAL-ALIGN: middle; BORDER-LEFT: #888888 0px solid; COLOR: #003399; LINE-HEIGHT: normal; BORDER-BOTTOM: #888888 0px solid; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #ff9900; TEXT-DECORATION: none
}
.textboxYellow {
	BORDER-RIGHT: #888888 1px solid; BORDER-TOP: #888888 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9px; VERTICAL-ALIGN: middle; BORDER-LEFT: #888888 1px solid; COLOR: #003399; BORDER-BOTTOM: #888888 1px solid; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #ff9900; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.textboxCurrencyYellow {
	BORDER-RIGHT: #999999 1px ridge; BORDER-TOP: #999999 1px ridge; FONT-WEIGHT: normal; FONT-SIZE: 9px; VERTICAL-ALIGN: middle; BORDER-LEFT: #999999 1px ridge; COLOR: #003399; BORDER-BOTTOM: #999999 1px ridge; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif ","Microsoft Sans Serif"; BACKGROUND-COLOR: #ff9900; TEXT-ALIGN: right
}
.RadioButtonYellow {
	BACKGROUND: #ff9900
}
.CheckBoxYellow {
	BACKGROUND: #ff9900
}
.textboxYellow {
	BORDER-RIGHT: #999999 1px ridge; BORDER-TOP: #999999 1px ridge; SCROLLBAR-FACE-COLOR: #cccccc; FONT-WEIGHT: normal; FONT-SIZE: 9px; SCROLLBAR-HIGHLIGHT-COLOR: #cccccc; VERTICAL-ALIGN: middle; BORDER-LEFT: #999999 1px ridge; SCROLLBAR-SHADOW-COLOR: #ffffff; COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #ffffff; BORDER-BOTTOM: #999999 1px ridge; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif ","Microsoft Sans Serif"; SCROLLBAR-DARKSHADOW-COLOR: #999999; BACKGROUND-COLOR: #ff9900; TEXT-ALIGN: left
}
.TableMenuHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; VERTICAL-ALIGN: middle; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #006699; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TableHeaderList {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #2058a0; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TableHeaderList2 {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; VERTICAL-ALIGN: top; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #006bb5; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TableLabelData0 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #e6e6e6; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.TableLabelData1 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #f4f4f4; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.TableLabelHeaderBox {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; VERTICAL-ALIGN: middle; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #2058a0; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.TableLabelHeaderBox1 {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; VERTICAL-ALIGN: middle; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #2058a0; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.TextLabelHeader0 {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #000066; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.TextLabelHeader1 {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.TextLabelNormal {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.TextLabelBlueNormal {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000066; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.TextLabelBold {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TextLabelNormalCenter {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TextLabelUnderLine {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
.TextLabelRightNormal {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #f4f4f4; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.TextLabelRightNormal1 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #f4f4f4; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.TextLabelCurrency0 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #e6e6e6; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.TextLabelCurrency1 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #f4f4f4; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.TextLabelDate0 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #e6e6e6; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TextLabelDateRed {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #f5a9a7; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TextLabelDate1 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #f4f4f4; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TextLabelDate2 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #e6e6e6; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.TextLabelDate3 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #ff8484; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TextLabelDate4 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #aeffae; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TextLabelPage {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #c1d5e8; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TextLabelSubMenu {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; VERTICAL-ALIGN: middle; COLOR: #0f2f60; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; HEIGHT: 15px; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.TextLabelSubMenu1 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; VERTICAL-ALIGN: middle; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; HEIGHT: 15px; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.TextLabelSubMenuLeft {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; VERTICAL-ALIGN: middle; COLOR: #cccccc; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; HEIGHT: 15px; BACKGROUND-COLOR: #336699; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.TextLabelSubMenuActive {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; VERTICAL-ALIGN: middle; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; HEIGHT: 15px; BACKGROUND-COLOR: #336699; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.TextMenuTabNormal {
	FONT-WEIGHT: normal; FONT-SIZE: 8px; VERTICAL-ALIGN: baseline; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TextMenuTabActive {
	FONT-WEIGHT: bold; FONT-SIZE: 8px; VERTICAL-ALIGN: baseline; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TextLabelTotal {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #000066; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; TEXT-ALIGN: right; TEXT-DECORATION: underline
}
.TextLabelTotalBlack {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; TEXT-ALIGN: right; TEXT-DECORATION: underline
}
.TextWarningHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #cc3333; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.TextWarningNormal {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #cc3333; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.TextAbNormal0 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.TextMenuBold {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.TextMenuNormal {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.bgMenu {
	BACKGROUND-COLOR: #e6e6e6
}
.bgLight {
	BACKGROUND-COLOR: #f4f4f4
}
.bgTableLeft {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #e6e6e6; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.bgTableLeft1 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #e6e6e6; TEXT-DECORATION: none
}
.bgTableLeft2 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #f4f4f4; TEXT-DECORATION: none
}
.bgTableHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #cccccc; TEXT-DECORATION: none
}
.bgTableRight {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #f4f4f4; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.bgTableCenter {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #e6e6e6; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.button_green {
	FONT-SIZE: 9px; WIDTH: 40px; CURSOR: hand; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #00b046
}
.button_next {
	FONT-SIZE: 9px; CURSOR: hand; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #006bb5
}
.button_previous {
	BORDER-RIGHT: #999999 1px outset; BORDER-TOP: #999999 1px outset; FONT-WEIGHT: normal; FONT-SIZE: 9px; VERTICAL-ALIGN: baseline; BORDER-LEFT: #999999 1px outset; CURSOR: hand; COLOR: #000066; BORDER-BOTTOM: #999999 1px outset; FONT-FAMILY: "MS Sans Serif"; BACKGROUND-COLOR: #cccccc
}
.button_add {
	FONT-SIZE: 9px; CURSOR: hand; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #006bb5
}
.button_blue {
	FONT-SIZE: 9px; CURSOR: hand; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #034d8f
}
.hr {
	BACKGROUND-POSITION: left 50%; HEIGHT: 0px; BACKGROUND-COLOR: #999999
}
DIV.menuBar {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", Arial, sans-serif
}
DIV.menuBar A.menuButton {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", Arial, sans-serif
}
DIV.menu {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", Arial, sans-serif
}
DIV.menu A.menuItem {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", Arial, sans-serif
}
DIV.menuBar {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 2px; BORDER-TOP: 0px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 4px; BORDER-LEFT: 0px solid; PADDING-TOP: 4px; BORDER-BOTTOM: 0px solid; BACKGROUND-COLOR: #2058a0; TEXT-ALIGN: left
}
DIV.menuBar A.menuButton {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 6px; BORDER-TOP: 0px solid; PADDING-LEFT: 6px; Z-INDEX: 100; LEFT: 0px; PADDING-BOTTOM: 2px; MARGIN: 1px; BORDER-LEFT: 0px solid; CURSOR: default; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: 0px solid; POSITION: relative; TOP: 0px; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
DIV.menuBar A.menuButton:hover {
	BORDER-LEFT-COLOR: #f0f0f0; BORDER-BOTTOM-COLOR: #909090; COLOR: #000000; BORDER-TOP-COLOR: #f0f0f0; BACKGROUND-COLOR: #c1d5e8; BORDER-RIGHT-COLOR: #909090
}
DIV.menuBar A.menuButtonActive {
	BORDER-LEFT-COLOR: #909090; LEFT: 1px; BORDER-BOTTOM-COLOR: #f0f0f0; COLOR: #000000; BORDER-TOP-COLOR: #909090; TOP: 1px; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #f0f0f0
}
DIV.menuBar A.menuButtonActive:hover {
	BORDER-LEFT-COLOR: #909090; LEFT: 1px; BORDER-BOTTOM-COLOR: #f0f0f0; COLOR: #000000; BORDER-TOP-COLOR: #909090; TOP: 1px; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #f0f0f0
}
DIV.menu {
	BORDER-RIGHT: #909090 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #f0f0f0 1px solid; PADDING-LEFT: 0px; Z-INDEX: 101; LEFT: 0px; VISIBILITY: hidden; PADDING-BOTTOM: 1px; BORDER-LEFT: #f0f0f0 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #909090 1px solid; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #c1d5e8
}
DIV.menu A.menuItem {
	PADDING-RIGHT: 1em; DISPLAY: block; PADDING-LEFT: 1em; PADDING-BOTTOM: 3px; CURSOR: default; COLOR: #000000; PADDING-TOP: 3px; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
DIV.menu A.menuItem:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #000080
}
DIV.menu A.menuItemHighlight {
	COLOR: #ffffff; BACKGROUND-COLOR: #000080
}
DIV.menu A.menuItem SPAN.menuItemText {
	
}
DIV.menu A.menuItem SPAN.menuItemArrow {
	MARGIN-RIGHT: -0.75em
}
DIV.menu DIV.menuItemSep {
	BORDER-TOP: #909090 1px solid; MARGIN: 4px 2px; BORDER-BOTTOM: #f0f0f0 1px solid
}
.TableLabelLink0 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: blue; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.TableLabelLink1 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: blue; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.TextLabelRed0 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #ff0000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #e6e6e6; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TextLabelRed1 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #ff0000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #f4f4f4; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TextLabelRedNormal0 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #ff0000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #e6e6e6; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.TextLabelRedNormal1 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #ff0000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #f4f4f4; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.TextLabelRedCurrency0 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #ff0000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #e6e6e6; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.TextLabelRedCurrency1 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #ff0000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #f4f4f4; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.TextLabelGreenCurrency {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #009900; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #e6e6e6; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.TextLabelBlueDate {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #0000ff; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #e6e6e6; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TextLabelBlueCurrency {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #0000ff; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #e6e6e6; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.TextLabelBlue {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #0000ff; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.TextLabelGreen {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #009900; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #e6e6e6; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TextLabelWhiteCurrency {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #999999; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.TextLabelWhiteDate {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #999999; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TableLabelWhiteData {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #999999; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.TableLabelGreenData {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #009900; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #e6e6e6; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.TextLabelGreenDate {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #009900; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #e6e6e6; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TextLabelGreenDate0 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #009900; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #e6e6e6; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TextLabelGreenDate1 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #009900; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #f4f4f4; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TextLabelBlueDate0 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #0000ff; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #e6e6e6; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TextLabelBlueDate1 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #0000ff; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #f4f4f4; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TextLabelBlackDate0 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #e6e6e6; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TextLabelBlackDate1 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #f4f4f4; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TextLabelRedDate0 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #ff0000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #e6e6e6; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TextLabelRedDate1 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #ff0000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #f4f4f4; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TextLabelRedComment {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #ff0000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.TextLabelBlueComment {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #0000ff; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.TextSubHeader1 {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #006699; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.TextSubHeader2 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #006699; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.ComboBoxMulti {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; WIDTH: 150px; COLOR: #000000; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #ffffff
}
.ComboBoxMultiOver {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; WIDTH: 200px; COLOR: #000000; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; BACKGROUND-COLOR: #ffffff
}
.TextLabelGrayNormal {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #666666; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.button_green {
	FONT-SIZE: 9px; WIDTH: 40px; CURSOR: hand; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #00b046
}
.body_3 {
	FONT-SIZE: 8pt; COLOR: white; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial
}
.sub {
	FONT-SIZE: 7pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial
}
.menuSelected {
	BACKGROUND-COLOR: #ffffff
}
.font2 {
	FONT-SIZE: 7px; FONT-FAMILY: "MS Sans Serif", "DB ThaiText", "AngsanaUPC","Thonburi"
}
.font3 {
	FONT-SIZE: 7px; FONT-FAMILY: "MS Sans Serif", "DB ThaiText", "AngsanaUPC","Thonburi"; TEXT-ALIGN: right
}
.bkhead {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: "MS Sans Serif"
}
.font1 {
	FONT-SIZE: 14pt; FONT-FAMILY: "MS Sans Serif"; TEXT-DECORATION: none
}
.atbold {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #1b1464; FONT-FAMILY: "MS Sans Serif"
}
.bubold {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #002c6d; FONT-FAMILY: "MS Sans Serif"
}
.greybold {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #b1afaf; FONT-FAMILY: "MS Sans Serif"
}
.big {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #330000; FONT-FAMILY: "MS Sans Serif"
}
.bu {
	FONT-SIZE: 9pt; COLOR: #002c6d; FONT-FAMILY: "MS Sans Serif"
}
.bkbold {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: "MS Sans Serif"
}
.rdbold {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ff0000; FONT-FAMILY: "MS Sans Serif"
}
.whbold {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: "MS Sans Serif"
}
.wh {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: "MS Sans Serif"
}
.bk {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: "MS Sans Serif"
}
.bkmenu {
	FONT-SIZE: 7pt; FONT-FAMILY: "MS Sans Serif"; fcolor: #000000
}
.bk1 {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: "MS Sans Serif"
}
.bigbubold {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #002c6d; FONT-FAMILY: "MS Sans Serif"
}
.bigbk {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: "MS Sans Serif"
}
