*{
	margin: 10;
	padding: 10;
}
body,html{
	font-family: "Verdana";
	font-size: 13px;
}
input[type=text] {
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 16px;
    width:600px;
}
textarea{
	border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
	padding: 0px;
	background-color: white;
    font-size: 10px;
    width: 600px;    
	height: 150px;
    position: relative;
}
