@font-face {
	font-family: 'lcd_att_phone_timedateregular';
	src: url('../fonts/lcd.eot');
    src: url('../fonts/lcd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lcd.woff2') format('woff2'),
         url('../fonts/lcd.woff') format('woff'),
         url('../fonts/lcd.ttf') format('truetype');
	
}
